*{
    margin: 0%;
}
#Encabezado{
    background-color: #020202;
    color:rgb(101, 24, 202);
    height: 50px;
    width: 100%;
    text-align: center;
}

body{
    background-color: rgb(35, 3, 53);
    margin: 0px;
    color: aqua;
    
}

.information{
    text-align: justify;
}

.Encabezado_con{
    width: 93%;
    height: 10px;
    border-bottom: 3px solid rgb(0, 0, 0);
    text-align: center;
    padding: 50px;
}

.Encabezado_con h1{
    font-size: 50px;
    color: rgb(216, 18, 190);
}

.img{
    text-align: center;
}
